* {
    padding: 0;
    margin: 0;
}
html, body{
    height: 1080px;
    background-color: #FAF8F8;
}
header {
    width: 100%;
    height: 30%;
    margin-bottom: 70px;
    background-color: white;
}
section {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer{
    display: flex;
    width: 100%;
    height: 10%;
}
.nav1 {
    /* border: 1px solid black; */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
a{  
    margin-top: 20px;
    margin-left: 10px;
}
span {
    border-top: 1px solid black;
    padding: 2px;
    display: block;
    width: 10px;
}
.btn {
   margin-top: 10px;
   height: 30px;
}   
.nav2{
   display: flex;
   align-items: center;
   flex-direction: column;
}
h1 {
    width: 500px;
    color: #369F36;
    font-size: 50px;
    text-align: center;
}
input {
    border: 1px solid #369F36;
    width: 500px;
    height: 40px;
}
.menu{
    width: 500px;
}
.menu {
    width: 500px;
    list-style:none;
    display: grid;
    padding: 0px 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu1 {
    font-size: 8px;
    text-align: center;
    border: 1px solid black;
    width: 50px;
    height: 40px;
    margin: 20px;
    border-radius: 30%;
} 
img {
    width: 30px;
    height: 30px;
}
.weathercard{
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    width: 500px;
    height: 60px;
    border-radius: 10px 10px 0px 0px;
}
.weathercard1{
    width: 500px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.btnmenu{
    display: flex;
}
p {
    margin: 10px;
    font-size: 12px;
}
p strong {
    font-size: 15px;
}
.btnmenu li {
    font-size: 10px;
    list-style:none;
    padding: 5px;
    margin: 10px;
    background-color: #E4E2E2;
}
.covid{
    background-color: white;
    width: 500px;
    height: 60px;
    display: flex;
    margin: 10px;
}
.covid a{
    margin: 10px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    background-color: white;
    width: 100%;
}
.korea{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 500px;
    height: 50px;
    margin-bottom: 10px; 
}
.grid1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: white;
    width: 500px;
    height: 60px;
    font-size: 10px;
    margin-bottom: 10px
}
.grid1 img {
    border-radius: 5px;
}
.grid1 p {
    padding-right: 70px;
}
.grid1 button {
    background-color: white;
    border: 1px solid blue;
    font-size: 12px;
    color: blue;
    width: 70px;
    height: 30px;
}
.grid2{
    background-color: white;
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
}
.grid2 p {
    font-size: 13px;
    font-weight: bold;
    margin: 15px;
}
.cp {
    background-color: white;
    width: 500px;
    height: 200px;
    margin-bottom: 10px;
}
.cp1{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.cp1 button{
    margin: 10px;
    width: 40px;
    height: 20px;
}
.cp2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cp2 button {
    text-align: left;
    height: 30px;
    margin: 5px;
}
.info2{
    background-color: white;
    width: 500px;
    height: 40px;
    display: flex;
    margin-bottom: 30px;
}
.info2 .icon{
    border-radius: 5px;
    color: #369F36;
    border: 1px solid green;
    font-weight: bold;
    font-size: 10px;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer li {
    list-style: none;
    width: 100px;
    font-size: 10px;
}
footer p {
    font-size: 20px;
    color: #E4E2E2;
}
a {
    text-decoration: none;
    color: #000;
}

